@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400;600&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fafaf9;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.font-serif {
    font-family: 'Playfair Display', serif;
}

.font-sans {
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #b91c1c;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #991b1b;
}